:root {
  /* COLORS */
  --color-accent: #47b4c2;
  --color-accent-border: #a6c9ce;
  --color-accent-darken: #5ba0a9;
  --color-hover-btn: #258f9d;
  --color-field-background: #f7f7fd;
  --color-field-accent-background: #ffffff;
  --color-main-text: #000000;
  --color-accent-text: #ffffff;
  --color-error: #ff5e5e;
  --color-shadow: #0000000d;
  --color-icon: #333333;

  /* ANIMATION */
  --hover-transition: 0.2s ease-out;

  /* FONTS */
  --font-family: Geologica, Arial, sans-serif;

  /* SIZES */
  --input-border-radius: 30px;
  --input-height: 52px;
  --header-height: 100px;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: var(--font-family);
}

html {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-main-text);
  background-color: var(--color-field-background);
}

.container {
  max-width: 1010px;
  width: 100%;
  margin: 0 auto;
}

.icon svg {
  fill: var(--color-icon);
  stroke: var(--color-icon);
  transition: var(--hover-transition);
}

.icon:hover svg {
  fill: var(--color-accent);
  stroke: var(--color-accent);
}

.page-header {
  position: sticky;
  top: 0;
  background-color: var(--color-field-background);
  z-index: 100;
}

.page-header__container {
  display: flex;
  gap: 65px;
  height: var(--header-height);
  padding: 24px 0;
  padding-right: 215px;
  padding-left: 67px;
  box-shadow: 0px 1px 20px 0px #0000000d;
}

.page-header__auth-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: auto;
}

.page-header__search {
  width: 100%;
  max-width: 818px;
  margin-left: auto;
}

.page-header__action-btns {
  display: flex;
  align-items: center;
  gap: 32px;
}

.icon-enter {
  width: 18px;
  height: 18px;
}

.icon-enter svg {
  fill: var(--color-main-text);
  stroke: var(--color-main-text);
  transition: var(--hover-transition);
}

.page-header__auth-wrapper .link:hover .icon-enter svg {
  fill: var(--color-accent);
  stroke: var(--color-accent);
}

.button {
  display: inline-block;
  padding: 10px 25px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-accent-text);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 50px;
  transition: var(--hover-transition);
  cursor: pointer;
}

.button:hover {
  background: var(--color-hover-btn);
  border: 1px solid var(--color-accent);
}

.button:active {
  background: var(--color-accent);
  border: 1px solid var(--color-hover-btn);
}

.button--variant-medium {
  font-size: 16px;
  line-height: 16px;
}

.button-icon {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: var(--color-main-text);
  transition: var(--hover-transition);
}

.link:hover {
  color: var(--color-accent);
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
}

.input input {
  height: var(--input-height);
  padding-left: 30px;
  padding-right: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: var(--input-border-radius);
  background: var(--color-field-accent-background);
  outline: none;
}

.input input::placeholder {
  font-weight: 300;
}

.input--with-button input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input__button {
  display: flex;
  align-items: center;
  height: var(--input-height);
  padding-right: 10px;
  border-top-right-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
  background: var(--color-field-accent-background);
}

.profile__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: var(--color-field-accent-background);
  border: none;
  cursor: pointer;
}

.profile__button img {
  width: 52px;
  height: 52px;
  object-fit: cover;
  border-radius: 50%;
}

.profile__action-wrapper {
  position: relative;
}

.profile__action-list {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  list-style: none;
  background: var(--color-field-accent-background);
  border: 1px solid var(--color-accent-border);
  border-radius: 10px;
  z-index: 1;
}

.profile__action-list::before {
  content: '';
  display: block;
  position: absolute;
  top: -7px;
  right: 20px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 1px solid var(--color-accent-border);
  border-bottom: 0;
  border-right: 0;
  transform: rotate(45deg);
}

.profile__action-list-item .icon svg {
  fill: var(--color-accent-darken);
  stroke: var(--color-accent-darken);
}

.profile__action-list-item > a {
  display: flex;
  color: var(--color-main-text);
  text-decoration: none;
  transition: var(--hover-transition);
}

.profile__action-list-item > a:hover {
  color: var(--color-accent);
}

.profile__action-list-item > a > .icon {
  margin-right: 10px;
}

.main-search {
  display: flex;
  height: calc(100vh - var(--header-height));
}

.main-search__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: calc(var(--header-height) + 55px);
}

.main-search__title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 600;
  color: var(--color-accent-darken);
}

.main-search .input input {
  font-size: 20px;
}

.main-search .input__button button {
  font-size: 20px;
}
