:root {
  /* COLORS */
  --color-accent: #47b4c2;
  --color-hover-outline-btn: #e4f4f6;
  --color-accent-border: #a6c9ce;
  --color-accent-darken: #5ba0a9;
  --color-hover-btn: #258f9d;
  --color-focus-input: #47b4c226;
  --color-hover-light: #effdff;
  --color-field-background: #f7f7fd;
  --color-field-accent-background: #ffffff;
  --color-main-text: #000000;
  --color-light-text: #333333;
  --color-accent-text: #ffffff;
  --color-error: #ff5e5e;
  --color-error-field: #ffe7e7;
  --color-shadow: #0000000d;
  --color-icon: #333333;
  --color-gray-text: #7a7a7a;
  --color-black: #000000;
  --color-green: #3dc231;

  /* ANIMATION */
  --hover-transition: 0.2s ease-out;

  /* FONTS */
  --font-family: Geologica, Arial, sans-serif;

  /* SIZES */
  --input-border-radius: 30px;
  --input-height: 52px;
  --input-medium-height: 40px;
  --header-height: 100px;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: var(--font-family);
}

html {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-main-text);
  background-color: var(--color-field-background);
}

.container {
  max-width: 1010px;
  width: 100%;
  margin: 0 auto;
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e3f1f3;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 10px;
}

.currency {
  color: var(--color-light-text);
  margin: 0;
}

.icon svg {
  fill: var(--color-icon);
  transition: var(--hover-transition);
}

.icon:hover svg {
  fill: var(--color-accent);
}

.icon--fill svg {
  fill: var(--color-accent);
}

.page-header {
  position: sticky;
  top: 0;
  background-color: var(--color-field-background);
  z-index: 100;
}

.page-header__container {
  display: flex;
  gap: 65px;
  height: var(--header-height);
  padding: 24px 0;
  padding-right: 215px;
  padding-left: 67px;
  box-shadow: 0px 1px 20px 0px #0000000d;
}

.page-header__auth-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: auto;
}

.page-header__search {
  width: 100%;
  max-width: 818px;
  margin-left: auto;
}

.page-header__action-btns {
  display: flex;
  align-items: center;
  gap: 32px;
}

.page-header__action-btns--right-position {
  margin-left: auto;
}

.icon-enter {
  width: 18px;
  height: 18px;
}

.icon-enter svg {
  fill: var(--color-main-text);
  stroke: var(--color-main-text);
  transition: var(--hover-transition);
}

.icon-up-arrow {
  display: flex;
  transform: rotate(180deg);
}

.icon-trash {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-trash svg {
  fill: var(--color-main-text);
}

.icon-trash--variant-error svg {
  fill: var(--color-error);
}

.page-header__auth-wrapper .link:hover .icon-enter svg {
  fill: var(--color-accent);
  stroke: var(--color-accent);
}

.button {
  display: inline-block;
  padding: 10px 25px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-accent-text);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 50px;
  transition: var(--hover-transition);
  cursor: pointer;
}

.button:hover {
  background: var(--color-hover-btn);
  border: 1px solid var(--color-accent);
}

.button:active {
  background: var(--color-accent);
  border: 1px solid var(--color-hover-btn);
}

.button--variant-small {
  padding: 4px 16px;
  font-size: 12px;
  line-height: 14px;
}

.button--variant-medium {
  font-size: 16px;
  line-height: 18px;
}

.button--variant-outline {
  color: var(--color-main-text);
  border: 2px solid var(--color-accent);
  background: transparent;
}

.button--variant-outline:hover {
  border: 2px solid var(--color-hover-btn);
  background: var(--color-hover-outline-btn);
}

.button--variant-red {
  border-color: var(--color-error);
}

.button--variant-red:hover {
  border: 2px solid var(--color-error);
  background: #ffe7e7;
}

.button-icon {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.icon-edit {
  width: 15px;
  height: 15px;
}

.icon-plus {
  display: flex;
}

.button-radio-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;

  border-radius: 50%;
  border: 2px solid var(--color-accent);
  transition: var(--hover-transition);
  background: transparent;
  cursor: pointer;
}

.button-radio-icon:disabled {
  border-color: var(--color-gray-text);
}

.button-radio-icon:hover:disabled {
  border-color: var(--color-gray-text);
}

.button-radio-icon:hover {
  border-color: var(--color-hover-btn);
}

.button-radio-icon--variant-small {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-accent);
}

.button-radio-icon--variant-medium {
  width: 28px;
  height: 28px;
  border: 1.4px solid var(--color-accent);
}

.button-radio-icon--variant-l {
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-accent);
}

.button-radio-icon--variant-error {
  border-color: var(--color-error);
}

.button-radio-icon--variant-error:hover {
  border-color: var(--color-error);
}

.button-radio-icon--color-gray {
  border-color: var(--color-gray-text);
}

.button-radio-icon--color-gray:hover {
  border-color: var(--color-gray-text);
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: var(--color-main-text);
  transition: var(--hover-transition);
}

.link:hover {
  color: var(--color-accent);
}

.input {
  display: flex;
  width: 100%;
}

.editor__textarea-wrapper {
  width: 100%;
  padding: 20px;
  padding-right: 10px;
  border-radius: 20px;
  border: 1px solid var(--color-accent);
  background: var(--color-field-accent-background);
}

.editor__textarea {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  max-height: 174px;
  padding-left: 50px;
  transition: var(--hover-transition);
  overflow-y: auto;
  overflow-x: hidden;
}

.ce-popover__search {
  display: none;
}

.input__error-message {
  margin: 0;
  font-size: 10px;
  font-weight: 500;
  margin-top: 4px;
  color: var(--color-error);
}

.input--outline-button-wrapper {
  flex-direction: column;
}

.input input {
  height: var(--input-height);
  padding-left: 30px;
  padding-right: 10px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: var(--input-border-radius);
  background: var(--color-field-accent-background);
  outline: none;
}

.input--variant-medium input {
  height: var(--input-medium-height);
  padding-left: 20px;
}

.input > label {
  width: 100%;
}

.input input::placeholder {
  font-weight: 300;
}

.input--outline input {
  transition: var(--hover-transition);
  border: 1px solid var(--color-accent);
}

.input--outline input:focus {
  background-color: var(--color-focus-input);
}

.input--outline input:focus ~ .input__outline-button {
  background-color: var(--color-focus-input);
}

.input--outline-error input {
  border: 1px solid var(--color-error);
  border-right: 0;
}

.input--outline-error .input__outline-button {
  border: 1px solid var(--color-error);
  border-left: 0;
}

.input--outline-error input:focus {
  background-color: var(--color-error-field);
}

.input--outline-error input:focus ~ .input__outline-button {
  background-color: var(--color-error-field);
}

.input__outline-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-left: 0;
  border: 1px solid var(--color-accent);
  border-left: none;
  border-radius: var(--input-border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: var(--hover-transition);
}

.input__outline-button-right {
  padding-right: 7px;
}

.input__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.input--with-button input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  padding-right: 0;
}

.input__button {
  display: flex;
  align-items: center;
  height: var(--input-height);
  padding-right: 10px;
  border-top-right-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
  background: var(--color-field-accent-background);
}

.input__base {
  display: flex;
}

.input__label {
  margin: 0;
  margin-bottom: 8px;
  color: var(--color-light-text);
  font-weight: 600;
}

.input__label--variant-medium {
  font-size: 20px;
  line-height: 25px;
}

.input__required {
  color: var(--color-error);
}

.profile__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: var(--color-field-accent-background);
  border: none;
  cursor: pointer;
}

.profile__button img {
  width: 52px;
  height: 52px;
  object-fit: cover;
  border-radius: 50%;
}

.profile__action-wrapper {
  position: relative;
}

.profile__action-list {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  list-style: none;
  background: var(--color-field-accent-background);
  border: 1px solid var(--color-accent-border);
  border-radius: 10px;
  z-index: 1;
}

.profile__action-list::before {
  content: '';
  display: block;
  position: absolute;
  top: -7px;
  right: 20px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 1px solid var(--color-accent-border);
  border-bottom: 0;
  border-right: 0;
  transform: rotate(45deg);
}

.profile__action-list-item .icon svg {
  fill: var(--color-accent-darken);
  stroke: var(--color-accent-darken);
}

.profile__action-list-item > a {
  display: flex;
  color: var(--color-main-text);
  text-decoration: none;
  transition: var(--hover-transition);
}

.profile__action-list-item > a:hover {
  color: var(--color-accent);
}

.profile__action-list-item > a > .icon {
  margin-right: 10px;
}

.main-search {
  display: flex;
  min-height: calc(100vh - var(--header-height));
}

.main-search__wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
  margin-top: calc(50vh - var(--header-height) * 2);
  /* margin-bottom: calc(var(--header-height) + 55px); */
}

.main-search__title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  color: var(--color-accent-darken);
}

.main-search .input input {
  font-size: 20px;
}

.main-search .input__button button {
  font-size: 20px;
}

.search-result__text {
  font-size: 20px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 32px;
}

.search-result__sellers-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.search-result__sellers-item {
  margin-bottom: 16px;
}

.seller-card__link {
  display: flex;
  gap: 20px;
  padding: 17px 30px;
  color: var(--color-main-text);
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0px 1px 25px 0px #0000001a;
  background: var(--color-field-accent-background);
  transition: var(--hover-transition);
}

.seller-card__link:hover {
  background: var(--color-hover-light);
}

.seller-card__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--color-accent);
  border-radius: 50%;
}

.seller-card__image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.seller-card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seller-card__title {
  margin: 0;
  font-size: 16px;
  margin-bottom: 4px;
}

.seller-card__role {
  margin: 0;
  color: var(--color-light-text);
  font-size: 12px;
  font-weight: 400;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal__mb {
  margin-bottom: 24px;
}

.modal__wrapper {
  position: relative;
  width: 100%;
  padding: 30px;
  max-width: 600px;
  background-color: var(--color-field-accent-background);
  border-radius: 30px;
  z-index: 2;
}

.modal__wrapper--with-scroll {
  padding-right: 10px;
  /* max-height: 886px;
  overflow-y: auto; */
}

.modal__scroll-wrapper {
  max-height: 750px;
  padding-right: 20px;
  overflow-y: auto;
}

.modal__label-text {
  max-width: 150px;
}

.modal__select-list {
  max-width: 200px;
}

.modal__wrapper--size-sm {
  max-width: 545px;
}

.modal__wrapper--size-l {
  max-width: 658px;
}

.modal__wrapper--size-md {
  max-width: 750px;
}

.modal__double-column {
  display: grid;
  flex-wrap: wrap;
  gap: 16px 20px;
  grid-template-columns: 1fr 1fr;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 600;
}

.modal__title--variant-medium {
  font-size: 24px;
  line-height: 30px;
}

.modal__ready-categories-title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 20px;
  line-height: 25px;
  color: var(--color-light-text);
}

.modal__mb-8 {
  margin-bottom: 8px;
}

.modal__ready-categories-title--mb-clear {
  margin-bottom: 0;
}

.modal__form-element {
  margin-bottom: 16px;
}

.modal__form-element-gap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal__form-actions {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
}

.modal__select-list-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox label {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
}

.checkbox--variant-middle label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.checkbox__label-text {
  margin: 0;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.checkbox label .checkbox__base:before {
  box-sizing: border-box;
  content: '';
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid var(--color-accent);
  width: 19px;
  height: 19px;
  cursor: pointer;
  border-radius: 4px;
}

.checkbox--variant-middle label .checkbox__base:before {
  width: 19px;
  height: 19px;
}

.checkbox input:checked + label .checkbox__base:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 7px;
  width: 4px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox input:checked + label .checkbox__base:before {
  background: var(--color-accent);
}

.main-link {
  color: var(--color-accent);
  text-decoration: none;
  transition: var(--hover-transition);
}

.main-link:hover {
  opacity: 0.6;
}

.row {
  display: flex;
  align-items: flex-start;
}

.column-xs {
  width: 100%;
  max-width: 360px;
}

.column-s {
  width: 100%;
  max-width: 405px;
}

.column-sm {
  width: 100%;
  max-width: 620px;
}

.page-layout {
  padding-bottom: 20px;
}

.page-layout--center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));
}

.page-layout__title {
  margin: 64px 0 40px;
}

.page-layout__header-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.profile-card {
  display: flex;
  align-items: center;
  padding: 33px 25px;
  gap: 15px;
  background: var(--color-field-accent-background);
  box-shadow: 0px 1px 20px 0px #0000000d;
  border-radius: 17px;
}

.profile-card__avatar {
  width: 98px;
  height: 98px;
}

.profile-card__avatar img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-card__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
}

.profile-card__title {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.profile-card__role {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.profile-card__id {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-gray-text);
}

.category-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  min-height: 167px;
  padding: 15px 25px;
  background: var(--color-field-accent-background);
  box-shadow: 0px 1px 20px 0px #0000000d;
  border-radius: 17px;
}

.category-card__create {
  margin: 0;
  padding: 0;
  margin-left: 5px;
}

.category-card__title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.category-card__title {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.category-card__tag-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 4px;
}

.product-card {
  display: flex;
  flex-direction: column;
  max-width: 230px;
  max-height: 343px;
  border-radius: 20px;
  box-shadow: 0px 1px 20px 0px #0000001a;
}

.product-card__main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 12px 15px 10px;
}

.product-card__image img {
  width: 230px;
  height: 161px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product-card__categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.product-card__title {
  margin: 0px;
  font-size: 15px;
  line-height: 19px;
  margin-top: 8px;
}

.product-card__description {
  margin: 0px;
  font-size: 12px;
  line-height: 15px;
  margin-top: 4px;
  color: var(--color-light-text);

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-card__description--without-tags {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.product-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.product-card__price {
  margin: 0px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
}

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;

  font-size: 16px;
  line-height: 20px;

  border: 2px solid var(--color-accent);
  background-color: transparent;
  border-radius: 20px;
  transition: var(--hover-transition);
  cursor: pointer;
}

.tag__text {
  max-width: 181px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag__text--variant-small {
  font-size: 14px;
  line-height: 14px;
}

.tag--filled {
  color: var(--color-accent-text);
  background-color: var(--color-accent);
}

.tag--variant-small {
  padding: 3px 9px;
  font-size: 10px;
  line-height: 12.5px;
  border: 1px solid var(--color-accent);
}

.tag--variant-medium {
  padding: 7px 20px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: var(--color-light-text);
  border: 1px solid var(--color-accent);
}

.tag--variant-big {
  padding: 10px 26px;
  border-radius: 25px;
  border-width: 2px;
}

.tag:hover {
  border-color: var(--color-hover-btn);
}

.tag--filled:hover {
  background-color: var(--color-hover-btn);
}

.tag__right-adornment {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.tag--color-gray {
  border-color: var(--color-gray-text);
}

.tag--color-gray:hover {
  border-color: var(--color-gray-text);
}

.tag--color-black {
  border-color: var(--color-black);
}

.tag--color-black:hover {
  border-color: var(--color-black);
}

.tag--color-green {
  border-color: var(--color-green);
}

.tag--color-green:hover {
  border-color: var(--color-green);
}

.filters__title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 30px;
}

.filters__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 40px 30px;
  padding-bottom: 50px;
}

.product-list__add-product-card {
  padding: 0;
  width: 230px;
  min-height: 343px;
  border: 2px solid var(--color-accent);
  border-radius: 20px;
  background: none;
  cursor: pointer;
  transition: var(--hover-transition);
}

.product-list__add-product-card:hover {
  transform: scale(1.01);
}

.product-list__add-product-card-title {
  margin: 0;
  margin-top: 20px;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 500;
}

.product-list__search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
}

.product-list__search-result-title {
  margin: 0;
  margin-top: 80px;
  font-size: 36px;
  line-height: 45px;
}

.select-list {
  position: relative;
}

.select-list__list-wrapper {
  position: absolute;
  top: 55px;
  right: -2px;
  padding: 10px;
  background: var(--color-field-accent-background);
  border: 1px solid var(--color-accent-border);
  border-radius: 10px;
}

.select-list__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;

  max-height: 185px;
  list-style: none;

  overflow-y: auto;
  z-index: 1;
}

.select-list__list::before {
  content: '';
  display: block;
  position: absolute;
  top: -7px;
  right: 20px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 1px solid var(--color-accent-border);
  border-bottom: 0;
  border-right: 0;
  transform: rotate(45deg);
}

#drop-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 129px;
  border: 2px dashed var(--color-accent);
  border-radius: 15px;
  padding: 20px;
}

#gallery img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 10px;
}

#fileElem {
  display: none;
}

.product-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: var(--color-light-text);
}

.product-description {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-light-text);
}

.product-tag-list {
  padding-bottom: 10px;
}

.product-tag-list__wrapper {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
  gap: 4px;
}

.product-gallery {
  position: relative;
}

.product-gallery__main-img img {
  width: 598px;
  height: 370px;
  object-fit: cover;
  border-radius: 5px;
}

.product-gallery__list-img {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.product-gallery__list-img img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.product-gallery__btn-img {
  background: none;
  border: none;
  cursor: pointer;
}

.product-gallery__btn-img:hover img {
  outline: 1px solid var(--color-accent);
}

.count-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

.count-selector__display {
  font-size: 12px;
  margin: 0;
}

.count-selector__display--medium {
  font-size: 16px;
}

.navigate-title {
  display: flex;
  align-items: center;
  margin: 64px 0 40px;
}

.navigate-title .icon svg {
  stroke: var(--color-main-text);
}

.navigate-title__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-main-text);
  transition: var(--hover-transition);
}

.navigate-title__link:hover .icon svg {
  stroke: var(--color-accent);
}

.navigate-title__title {
  margin: 0;
  margin-left: 20px;
}

.recipient-details {
  padding: 20px;
  gap: 15px;
  background: var(--color-field-accent-background);
  box-shadow: 0px 1px 20px 0px #0000000d;
  border-radius: 17px;
}

.recipient-details__title {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.recipient-details__wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.recipient-details__input-wrap {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.seller-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  margin-top: 20px;
  background: var(--color-field-accent-background);
  box-shadow: 0px 1px 20px 0px #0000000d;
  border-radius: 17px;
}

.seller-details__title {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.seller-details__text {
  margin: 0;
  margin-left: 15px;
}

.order-data {
  max-width: 575px;
  margin-left: auto;
  padding: 20px;
  background: var(--color-field-accent-background);
  box-shadow: 0px 1px 20px 0px #0000000d;
  border-radius: 17px;
}

.order-data__title {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.order-data__count {
  margin: 8px 0 20px;
  color: var(--color-light-text);
}

.order-data__text {
  margin: 0;
  color: var(--color-light-text);
}

.order-data__text--size-m {
  font-size: 15px;
  line-height: 19px;
}

.order-data__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-data__content-wrap {
  display: grid;
  grid-template-columns: 125px 1fr;
  column-gap: 20px;
  align-items: flex-start;
}

.order-data__total {
  margin: 0;
}

.order-composition__wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.order-preview {
  display: flex;
  gap: 15px;
  padding: 20px;
  background: var(--color-field-accent-background);
  box-shadow: 0px 1px 20px 0px #0000000d;
  border-radius: 17px;
}

.order-preview--variant-border {
  padding: 16px 0;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  border-top: 1px dotted var(--color-accent-border);
}

.order-preview--variant-border-with-bottom {
  border-bottom: 1px dotted var(--color-accent-border);
}

.order-preview__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.order-preview__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.order-preview__description {
  max-width: 300px;
  overflow: hidden;
  margin: 0;
  color: var(--color-light-text);
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.order-preview__count {
  margin: 0;
  margin-top: auto;
}

.order-preview__price {
  margin: 0;
  margin-left: auto;
  margin-top: auto;
}

.order-preview__picture img {
  width: 107px;
  height: 107px;
  border-radius: 5px;
  object-fit: cover;
}

.order-preview__actions {
  display: flex;
  align-items: center;
}

.order-preview__actions {
  margin-top: 10px;
}

.order-data__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 24px;
}

.select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  gap: 8px;
  padding: 4px 15px;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-light-text);
  border-radius: 14px;
  border: 1px solid var(--color-light-text);
  cursor: pointer;
  background: transparent;
}

.placing-order {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--color-field-accent-background);
  box-shadow: 0px 1px 20px 0px #0000000d;
  border-radius: 17px;
}

.placing-order__title {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}
.placing-order__count {
  margin: 0;
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-light-text);
}

.placing-order__total {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.placing-order__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.order-card {
  padding: 20px;
  padding-top: 15px;
  border-radius: 17px;
  background-color: var(--color-field-accent-background);
  box-shadow: 0px 1px 20px 0px #0000000d;
}

.order-card__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-card__title-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.order-card__title-wrap {
  display: flex;
  gap: 10px;
}

.order-card__title {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}

.order-card__date {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
  color: var(--color-gray-text);
}

.order-card__details {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.order-card__details-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 11px;
}

.order-card__details-item p {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}

.order-card__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 31px;
}

.order-card__footer-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.order-card__footer-paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-light-text);
}

.order-card__price {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: var(--color-light-text);
}

.order-card__icon {
  width: 19px;
  height: 19px;
}

.order-composition__head {
  display: flex;
  gap: 21px;
}

.order-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-composition__switch-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.order-composition__count {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-light-text);
}

.order-composition__preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 11px;
}

.order-composition__preview-img img {
  width: 56px;
  height: 56px;
  border-radius: 4px;
  object-fit: cover;
}

.orders__title-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  font-size: 20px;
  line-height: 25px;
  color: var(--color-light-text);
  border: none;
  background: transparent;
  cursor: pointer;
}

.tabs {
  display: flex;
  gap: 30px;
}

.tabs__tab {
  position: relative;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  font-size: 20px;
  line-height: 25px;
  border: none;
  background: transparent;
  color: var(--color-gray-text);
  cursor: pointer;
  transition: var(--hover-transition);
}

.tabs__tab:hover {
  color: var(--color-accent);
}

.tabs__tab--active {
  color: var(--color-black);
}

.tabs__tab--active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: var(--color-accent);
}

.tabs__tab--active:hover {
  color: var(--color-black);
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 592px;
  padding: 90px 76px;
  border-radius: 17px;
  background-color: var(--color-field-accent-background);
  box-shadow: 0px 1px 20px 0px #0000000d;
}

.info-block__title {
  margin: 0;
  font-size: 36px;
  line-height: 45px;
  color: var(--color-accent);
}

.info-block__title--color-black {
  color: var(--color-black);
}

.info-block__description {
  margin: 0;
  max-width: 447px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--color-light-text);
}

.ml-8 {
  margin-left: 8px;
}

.ml-6 {
  margin-left: 6px;
}

.mr-auto {
  margin-right: auto;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.max-width-125 {
  max-width: 125px;
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.gap-15 {
  gap: 15px;
}

.pb-7 {
  padding-bottom: 7px;
}
